@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    background-color: #001524;
    background-image: url("./wallpaper_04.jpg");
    background-position: center;
    background-attachment: fixed;
    /* e agora a regra de ouro que fará a imagem ocupar todo o viewport */
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.cabecalho {
    height: 20px;
}

.btnHome {
    /* width: 80px; */
    width: 3.8%;
    /* height: 48px; */
    height: 1.4%;
    /* margin: 40px 50px 40px 50px; */
    margin: 1.9% 2.4% 1.9% 2.4%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    width: 120px;
    height: 48px;
}
.conteudo_entrada {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    /* padding-right: 80px; */
    padding-right: 3.82%;
    /* padding-left: 17.8%; */
    /* margin-left: 40px; */
    margin-left: 1.91%;
}

.conteudo_entrada_texto {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* margin: 60px 0px 0px 50px; */
    margin: 7.7% 0% 0% 5%;
}

.conteudo_entrada_texto_input {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 48px;
    text-align: center;
    background-color: #EEEEEE;
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 20px solid #EEEEEE;
    outline: 20px solid #EEEEEE;
    resize: none;
    /* width: 680px; */
    width: 130%;
    /* padding: 0 0 60px 0; */
    padding: 0 0 11% 0;
    color: #222831;
    border-radius: 16px;
    opacity: 70%;
}



.conteudo_entrada_texto_input::placeholder {
    color: #222831;
}

.conteudo_entrada_texto_exclamacao {
    width: 16px;
    padding-right: 8px;
    position: relative;
    top: -3px;
    padding-left: 10px;
}

.conteudo_entrada_texto_requisitos {
    display: flex;
    align-items: flex-end;
    position: relative;
    top: -15px;
}

.conteudo_entrada_texto_info_requisitos {
    /* padding-top: 635px; */
    color: #222831;
}

.botoes_entrada {
    display: flex;
    flex-direction: row;
    padding: 2.1% 0% 9.5%;
    gap: 3%;
    /* padding: 16px 0 72px; */
    /* gap: 24px; */
}

.botoes_entrada_escuro {
    background-color: #222831;
    border: 1px solid #31363F;
    border-radius: 24px;
    padding: 24px;
    gap: 8px;
    width: 328px;
}

.botoes_entrada_criptografar {
    display: flex;
    justify-content: center;
    line-height: 19.36px;
    color: #FFFFFF;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
}

#botoes {
    cursor: pointer;
}

.botoes_entrada_claro {
    background-color: #76ABAE;
    border: 1px solid #222831;
    border-radius: 24px;
    padding: 24px;
    gap: 8px;
    width: 328px;
}
.botoes_entrada_descriptografar {
    display: flex;
    justify-content: center;
    line-height: 19.36px;
    color: #222831;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
}

.conteudo_saida {
    /* width: 400px; */
    width: 19%;
    height: 944px;
    display: flex;
    margin: 40px 40px 40px 0px;
    margin: 40px 1.91% 1.91% 0%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #76ABAE;
    border-radius: 32px;
}

.conteudo_saida_imgAguardandoConteudo {
    width: 336px;
    width: 94%;
}

.conteudo_saida_vazio {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    text-align: center;
    font-size: 24px;
    padding: 32px;
    color: #222831;
}

.conteudo_saida_digiteUmTexto {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    text-align: center;
    font-size: 16px;
    width: 336px;
    color: #222831;
}

.conteudo_saida_textocriptografado {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    color: #222831;
    box-shadow: 0;
    border: 0 none;
    outline: 0;
    resize: none;
    margin: 32px;
    width: 131%;
    height: 781px;
    display: none;
    background: transparent;
    /* background-color: #76ABAE; */
}

.conteudo_saida_botoes {
    background-color: #222831;
    border: 1px solid #31363F;
    border-radius: 24px;
    margin: 6%;
    width: 66.2%;
    display: none;
}

.conteudo_saida_botoes:hover {
    cursor: pointer;
}

.conteudo_saida_botoes_copiar {
    display: flex;
    justify-content: center;
    line-height: 19.36px;
    color: #FFFFFF;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    margin: 24px;
    font-weight: 400;
    text-decoration: none;
    /* display: none; */
}

.rodape {
    height: 60px;
    display: flex;
    justify-content: center;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    align-items: center;
    flex-direction: row;
}

